/**
 * Adapted by Jacques Rimbault | github.com/jRimbault
 * Based on Spectre.css Docs | MIT License | github.com/picturepan2/spectre
 */

body {
    transition: all 0.3s ease;
    background-color: var(--body-background);
    color: var(--body-color);
}

.off-canvas .off-canvas-sidebar {
    background-color: var(--darker-background);
}

.label {
    color: var(--chip-text);
    background-color: var(--language-switch);
}

.off-canvas .off-canvas-toggle {
    font-size: 1rem;
    left: 1.5rem;
    position: fixed;
    top: 1rem;
}

.off-canvas .off-canvas-sidebar {
    width: 12rem;
}

.cv-brand-color {
    color: var(--brand-color);
}

.cv-navbar {
    height: 3.8rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
}

.cv-navbar .label {
    position: absolute;
    right: 1.5rem;
    top: 1rem;
}

.cv-sidebar .cv-nav {
    bottom: 1.5rem;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    padding: .5rem 1.5rem;
    position: fixed;
    top: 3.5rem;
    width: 12rem;
}

.cv-sidebar .accordion {
    margin-bottom: .75rem;
}

.cv-sidebar .accordion input~.accordion-header {
    color: var(--light-gray);
    font-size: .65rem;
    font-weight: 600;
    text-transform: uppercase;
}

.cv-sidebar .accordion input:checked~.accordion-header {
    color: var(--light-light-gray);
}

.cv-sidebar .accordion .menu .menu-item {
    font-size: .7rem;
    padding-left: 1rem;
}

.cv-sidebar .accordion .menu .menu-item>a {
    background: 0 0;
    color: var(--light-light-gray);
    display: inline-block;
    transition: all .2s ease;
}

.cv-sidebar .accordion .menu .menu-item>a:hover {
    color: var(--brand-color);
}

.cv-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: calc(100vw - 12rem);
}

.cv-content.off-canvas-content {
    padding: 0 4rem;
}

.cv-content>.container {
    margin-left: 0;
    max-width: 800px;
    padding-bottom: 1.5rem;
}

.cv-content .anchor {
    color: var(--brand-color);
    height: 0;
    margin-left: -2em;
    overflow: hidden;
    padding: 0 1em;
    position: absolute;
    text-align: center;
    width: 0;
    z-index: 100;
}

.cv-content .anchor:focus,
.cv-content .anchor:hover {
    box-shadow: none;
    height: auto;
    text-decoration: none;
    width: 2em;
}

.cv-content .s-subtitle,
.cv-content .s-title {
    color: var(--title-color);
    line-height: 1.8rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: static;
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
    .cv-content .s-subtitle,
    .cv-content .s-title {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 100;
    }
    .cv-content .s-subtitle::before,
    .cv-content .s-title::before {
        bottom: 0;
        content: "";
        display: block;
        left: -10px;
        position: absolute;
        right: -10px;
        top: -5px;
        z-index: -1;
    }
}

.cv-content .s-subtitle:hover .anchor,
.cv-content .s-title:hover .anchor {
    height: auto;
    width: 1em;
}

.cv-content .s-subtitle+.cv-note,
.cv-content .s-title+.cv-note {
    margin-top: .2rem;
}

.cv-content .cv-note {
    margin: .1rem 0;
}

.cv-content .carbon-wrap .carbon-img {
    display: block;
}

.cv-content .carbon-wrap .carbon-text {
    color: var(--light-light-gray);
    display: block;
    font-size: .7rem;
}

.cv-content .column {
    padding: .4rem;
}

.cv-content .cv-block {
    border-radius: .1rem;
    padding: .4rem;
}

.cv-content .cv-block.bg-gray {
    background: #f0f1f4;
}

.cv-content .cv-shape {
    height: 4.8rem;
    line-height: 1.2rem;
    padding: 1.8rem 0;
    width: 4.8rem;
}

.cv-content .cv-dot {
    border-radius: 50%;
    display: inline-block;
    height: .5rem;
    padding: 0;
    width: .5rem;
}

.cv-content .cv-table td,
.cv-content .cv-table th {
    padding: .75rem .25rem;
}

.cv-content .cv-color {
    border-radius: .1rem;
    margin: .25rem 0;
    padding: .5rem;
}

.cv-content .cv-color .color-subtitle {
    font-size: .7rem;
    opacity: .75;
}

.cv-content .code {
    color: var(--light-light-gray);
}

.cv-content .code .com {
    color: #acb3c2;
}

.cv-content .code .tag {
    color: var(--brand-color);
}

.cv-content .code .atn {
    color: var(--light-light-gray);
}

.cv-content .code .atv {
    color: var(--brand-color);
}

.cv-content .code[data-lang=Bash] .tag {
    margin-right: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cv-content .panel {
    height: 75vh;
}

.cv-content .panel .tile {
    margin: .75rem 0;
}

.cv-content .parallax {
    margin: 2rem auto;
}

.cv-content .form-autocomplete .menu {
    position: static;
}

.cv-content .example-tile-icon {
    align-content: space-around;
    align-items: center;
    background: var(--brand-color);
    border-radius: .1rem;
    color: #fff;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-line-pack: distribute;
    font-size: 1.2rem;
    height: 2rem;
    width: 2rem;
}

.cv-content .example-tile-icon .icon {
    margin: auto;
}

.cv-content .comparison-slider {
    height: auto;
    padding-bottom: 56.2222%;
}

.cv-content .comparison-slider .filter-grayscale {
    filter: grayscale(75%);
}

.cv-content .off-canvas {
    position: relative;
}

.cv-content .off-canvas .off-canvas-toggle {
    left: .4rem;
    position: absolute;
    top: .4rem;
    z-index: 1;
}

.cv-brand,
a.cv-logo {
    color: var(--brand-color);
    left: 1.5rem;
    position: fixed;
    top: .85rem;
}

.cv-brand .cv-logo {
    align-items: center;
    border-radius: .1rem;
    display: inline-flex;
    display: -ms-inline-flexbox;
    -ms-flex-align: center;
    height: 2rem;
    padding: .2rem;
    width: auto;
}

.cv-brand .cv-logo:focus,
.cv-brand .cv-logo:hover {
    text-decoration: none;
}

.cv-brand .cv-logo img {
    display: inline;
}

.cv-brand .cv-logo h2 {
    display: inline;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.cv-footer {
    color: #acb3c2;
    padding: .5rem .5rem 1.5rem .5rem;
}

.cv-footer a {
    color: var(--light-light-gray);
}

.btn .feather {
    height: 1rem;
    vertical-align: middle;
}

.section-hero {
    padding: 1rem .5rem;
}

.section-hero .cv-brand {
    position: absolute;
    top: .85rem;
}

.section-hero .cv-brand h2 {
    color: var(--brand-color);
}

.section-hero .column {
    padding: .4rem;
}

.section-updates {
    padding: 4.5rem .5rem 3.5rem .5rem;
}

.section-updates .card {
    border: 0;
    color: #727e96;
    margin-bottom: 1rem;
}

.section-features {
    padding: 4.5rem .5rem;
}

.section-features .column {
    padding: .4rem;
}

.section-footer {
    color: #acb3c2;
    padding: 1.8rem .75rem 1rem .75rem;
    position: relative;
    z-index: 200;
}

.section-footer a {
    color: var(--light-light-gray);
}

.grid-hero {
    padding-bottom: 2rem;
    padding-top: 6rem;
}

.grid-hero h1 {
    color: #50596c;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.grid-hero h2 {
    color: var(--light-gray);
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

.grid-hero h2 u {
    border-bottom: .1rem solid currentColor;
    padding-bottom: .05rem;
    text-decoration: none;
}

.grid-hero .card {
    background: 0 0;
    border: 0;
    color: #727e96;
    padding: .5rem;
}

.grid-hero .card .card-title {
    color: var(--brand-color);
    font-size: .9rem;
    margin-bottom: 0;
}

@media (max-width:960px) {
    .off-canvas .off-canvas-toggle {
        z-index: 300;
    }
    .cv-sidebar .cv-brand {
        margin: .85rem 1.5rem;
        padding: 0;
        position: static;
    }
    .cv-sidebar .cv-nav {
        margin-top: 1rem;
        /* position: static */
        ;
    }
    .cv-sidebar .menu .menu-item>a {
        padding: .3rem .4rem;
    }
    .cv-navbar {
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        background: var(--mobile-navbar-background);
        left: 0;
    }
    .cv-content.off-canvas-content {
        min-width: auto;
        padding: 0 1.5rem;
        width: 100%;
    }
    .cv-content .s-subtitle,
    .cv-content .s-title {
        padding-top: 5rem;
        position: static;
    }
    .cv-content .s-subtitle::before,
    .cv-content .s-title::before {
        content: none;
    }
    .section-hero .s-brand {
        height: 5rem;
        padding: 1.5rem .5rem;
        text-align: center;
        width: 100%;
    }
    .section-hero .s-brand .s-logo {
        height: auto;
    }
    .section-hero .s-brand img {
        height: 3.2rem;
        width: 3.2rem;
    }
    .section-hero .s-brand h2 {
        display: none;
    }
}

@media (max-width:600px) {
    .grid-hero h2 {
        font-size: .9rem;
    }
    .grid-hero .card {
        padding: 0;
    }
    .off-canvas .off-canvas-toggle {
        left: .5rem;
    }
    .cv-navbar .label {
        right: 1rem;
    }
    .grid-hero .cv-brand {
        left: 1rem;
    }
    .cv-sidebar .cv-brand {
        margin: .85rem 1rem;
    }
    .cv-sidebar .cv-nav {
        padding: .5rem 1rem;
    }
    .cv-content.off-canvas-content {
        padding: 0 .5rem;
    }
    .cv-content .cv-block {
        padding: .4rem .1rem;
    }
    .cv-content .anchor {
        display: none;
    }
}

@media (min-width:1366px) {
    .cv-ad.cv-ad-sidebar {
        bottom: 1rem;
        position: fixed;
        right: 1rem;
        width: 7.3rem;
    }
}

/* brand color on links */

a,
a:active,
a:focus,
a:hover,
.btn.btn-link i.icon.icon-menu {
    color: var(--brand-color);
}

/* paragraph */

p {
    margin: 0 0 .5rem;
}

/* taglist */

.cv-taglist p {
    margin-bottom: .4rem;
}

.chip {
    transition: all .2s ease;
    border: 1px solid var(--chip-border);
    color: var(--chip-text);
    background-color: var(--darker-background);
}

/**
 * LaTeX style
 */

.chip span.latex {
    font-family: Times, "Times New Roman", serif !important;
    letter-spacing: 1px;
}

.chip span.latex sup {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    vertical-align: -.4em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}

.chip span.latex sub {
    text-transform: uppercase;
    vertical-align: .1ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
    font-size: 1.05em;
}

/**
 * silver red lining
 */

.col-3 {
    border-right: .1rem solid #e7e9ed;
    margin-right: 0;
    padding: .4rem .8rem;
    transition: border-right-color .2s ease;
}

.columns:hover .col-3 {
    border-right-color: var(--brand-color);
}

.columns:hover .col-3 .chip {
    color: var(--brand-color);
    background-color: var(--chip-hover);
    border: 1px solid var(--brand-color);
}
